/*My body color looks like cyan*/
body{
    background-color: lightcyan;
}

h1{
    color: navy;
    margin-left: 650px;
}
h2{
    color:blueviolet;
    margin-right: 100m;
    text-decoration: underline;
    text-align: center;
}
.navigations{
    position: relative;
    line-height: 2;
}
#Brainstorm{
    background-color: pink;
    padding:2%;
    border: 5px solid black;
    border-radius: 10%;
    margin: auto;

}
.pomodoro{
    position:relative;
    margin-right: 5%;
    line-height: 200%;
}
#Date{
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 400px;
}
#attendees{
    margin: 15px 300px 20px 100px;
}
#agenda{
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
}
#attendees{
    padding: 150px 100px 200px 100px;
    display:inline;
}
#agenda{
    border-style: dashed;
    border-radius: 5%;
    border-color: rosybrown;
    border-width: 1em;

}

div{
    display:inline-block;
    
}

p{
    position: relative;
}
img{
    position: sticky;
}
button:hover{
    color:blue;
}
button:active{
    box-sizing:inherit;
}
@media screen and (max-width:1250px) {
    video{
        background-color: yellow;
        
    };
}
.container{
    display : flex;
    flex-direction: column-reverse;

}
.Meeting{
    flex: 1;
    flex-grow:2;
}
.Cactus{
    flex-shrink:2;

}
.d3{
    flex-flow: row;
}

.gridcontainer{
    display:grid;
    grid-template-columns: max-content;
}
.M1{
    height: 100px;
    grid-row-end: auto;
}
.M2{
    grid-row : 3/4;
    grid-area:auto;

}
.M3{
    justify-content: center;
    font-family: 'Castoro Titling', cursive;


}
* {
    align-content:  first baseline;
}
h4[class=special]{
    font-style:bold;
}
details,h2{
    text-transform: capitalize;

}
ul li{
    list-style-type: disc;
}
ul > li{
    display: inline;
}
details ~ h2 {
    font-size:10px;
}
h1 + h3{
    margin-left: 20px;
}
p.lists-class{
    font-weight: 200;
}

    















